<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a> 
  <span *ngIf="logIn">
  	 | <a class="nav-link" routerLink="profile" routerLinkActive="active">Profile</a> 
  	 | <a class="nav-link" routerLink="product" routerLinkActive="active">Products</a> 
  </span>
  <span *ngIf="!logIn">
  	| <a class="nav-link" routerLink="login" routerLinkActive="active" >Login</a>
  </span>
  <span *ngIf="logIn">
   | <a class ="nav-link" (click)="logout()" href="#">Logout</a>
  </span>
</div>
<div class="text-center">
  <h1>
    Angular Authentication with JWT
  </h1>
</div>
<router-outlet></router-outlet>
